.layout {
  position: relative;
  z-index: 1;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: var(--container-max);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}
